<a href="https://colab.research.google.com/github/jefferson189/edutech_pr_python_3/blob/main/Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade1 = 30
idade2 = 20
idade3 = 52
idade4 = 39
print(idade1)
print(idade2)
print(idade3)
print(idade4)

30
20
52
39

In [ ]:
ages = [idade1, idade2, idade3, idade4]
ages

[30, 20, 52, 39]

In [ ]:
idades = [39, 30, 27, 18]
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [ ]:
idades.append(15)
idades

[39, 30, 27, 18, 15]

In [ ]:
idades[4]

15

In [ ]:
for idade in idades: 
  print(idade)

39
30
27
18
15

In [ ]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27]

In [ ]:
idades = [39, 30, 27, 18]

28 in idades

False

In [ ]:
18 in idades

True

In [ ]:
if 18 in idades:
  idades.remove(18)

In [ ]:
idades

[39, 30, 27]

In [ ]:
if 28 in idades:
  idades.remove(28)
  
idades

[39, 30, 27]

In [ ]:
idades.append(19)
idades

[39, 30, 27, 19]

In [ ]:
idades.insert(0,20)
idades

[20, 39, 30, 27, 19]

In [ ]:
idades = [20,39,30]
idades

[20, 39, 30]

In [ ]:
idades.append([29,19])
idades

[20, 39, 30, [29, 19]]

In [ ]:
for elemento in idades:
  print("O valor recebido é", elemento)

O valor recebido é 20
O valor recebido é 39
O valor recebido é 30
O valor recebido é [29, 19]

In [ ]:
idades = [20,39,30]
idades.extend([29,19])
idades

[20, 39, 30, 29, 19]

In [ ]:
for idade in idades:
  print(idade + 1)

21
40
31
30
20

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)

idades_no_ano_que_vem

[21, 40, 31, 30, 20]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 31, 30, 20]

In [ ]:
[(idade) for idade in idades if idade > 21]

[39, 30, 29]

In [ ]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 31, 30]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))


idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = list()):
  print(len(lista))
  print(lista)
  lista.append(13)


faz_processamento_de_visualizacao()

0
[]

In [ ]:
faz_processamento_de_visualizacao()

1
[13]

In [ ]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [ ]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

faz_processamento_de_visualizacao()

0
[]

In [ ]:
faz_processamento_de_visualizacao()

0
[]

# **Objetos Proprios**

In [ ]:
class ContaCorrente():
  
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0
  
  def deposita(self, valor):
    self.saldo += valor
  
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [ ]:
conta_do_jeh = ContaCorrente(10)
print(conta_do_jeh)

[>>Codigo 10 Saldo 0<<]

In [ ]:
conta_do_jeh.deposita(500)
print(conta_do_jeh)

[>>Codigo 10 Saldo 500<<]

In [ ]:
conta_da_dani = ContaCorrente(6969)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo 6969 Saldo 1000<<]

In [ ]:
contas = [conta_do_jeh, conta_da_dani]
print(contas)

[<__main__.ContaCorrente object at 0x7fd43273ffd0>, <__main__.ContaCorrente object at 0x7fd432756b50>]

In [ ]:
contas = [conta_do_jeh, conta_da_dani]
for conta in contas:
  print(conta)

[>>Codigo 10 Saldo 500<<]
[>>Codigo 6969 Saldo 1000<<]

In [ ]:
contas = [conta_do_jeh, conta_da_dani, conta_do_jeh]
print(contas[0])
print(contas[1])
print(contas[2])

[>>Codigo 10 Saldo 500<<]
[>>Codigo 6969 Saldo 1000<<]
[>>Codigo 10 Saldo 500<<]

In [ ]:
conta_do_jeh.deposita(100)
print(contas[0])

[>>Codigo 10 Saldo 700<<]

In [ ]:
contas[2].deposita(100)
print(contas[2])

[>>Codigo 10 Saldo 1000<<]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_jeh, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 10 Saldo 1000<<] [>>Codigo 6969 Saldo 1000<<]
[>>Codigo 10 Saldo 1100<<] [>>Codigo 6969 Saldo 1100<<]

In [ ]:
contas.insert(0,76)
print(contas[0],contas[1],contas[2])

76 [>>Codigo 10 Saldo 1100<<] [>>Codigo 6969 Saldo 1100<<]

In [ ]:
deposita_para_todas(contas)
print(contas[0],contas[1],contas[2])

AttributeError: ignored

Uso tradicional indicado, recomendado e etc. de uma lista é, uma sequência em que eu tenho acesso aleatório, eu posso falar o primeiro, décimo quinto elemento, de valores de objetos que eu posso acessar,o que eu estou tentando fazer aqui? Eu estou tentando dar significado para cada uma das posições.
A lista não foi feita para ser trabalhada dessa maneira, quando queremos trabalhar que posições específicas significam coisas diferentes e se significam coisas diferentes é porque provavelmente são de tipos diferentes.

In [ ]:
Jefferson = ("Jefferson", 26, 1995) #Tupla
Dani = ("Daniele",25,1996)
print(Jefferson)

('Jefferson', 26, 1995)

In [ ]:
conta_do_jeh = (10, 1000)
conta_do_jeh[0]

10

In [ ]:
def deposita(conta): #Variação "Funcional" (Separando Comportamento dos dados.)
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

deposita(conta_do_jeh)

(10, 1100)

In [ ]:
conta_do_jeh

(10, 1000)

In [ ]:
usuarios = [Jefferson, Dani]
usuarios

[('Jefferson', 26, 1995), ('Daniele', 25, 1996)]

In [ ]:
usuarios.append(("Paulo",24,1997))
usuarios

[('Jefferson', 26, 1995), ('Daniele', 25, 1996), ('Paulo', 24, 1997)]

In [ ]:
conta_do_jeh = ContaCorrente(10)
conta_do_jeh.deposita(500)
conta_da_dani = ContaCorrente(15)
conta_da_dani.deposita(1000)

contas = (conta_do_jeh, conta_da_dani)

In [ ]:
for conta in contas:
  print(conta)

[>>Codigo 10 Saldo 500<<]
[>>Codigo 15 Saldo 1000<<]

In [ ]:
contas[0].deposita(300)
for conta in contas:
  print(conta)

[>>Codigo 10 Saldo 1100<<]
[>>Codigo 15 Saldo 1000<<]

# **Polimorfismo e arrays**

In [ ]:
class Conta():
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(10))

[>>Codigo 10 Saldo 0<<]

In [ ]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998<<]

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes() #Duck typing
  print(conta)

[>>Codigo 16 Saldo 998<<]
[>>Codigo 17 Saldo 1007.0<<]

# **Evitaremos usar array puro. se precisarmos de trabalho numerico é de costume usar numpy**

In [ ]:
import array as arr

arr.array('d',[1, 3.5]) #não seria possivel colocar string dentro desse array

array('d', [1.0, 3.5])

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
import numpy as np
np.array([1,3.5])

array([1. , 3.5])

In [ ]:
numero = np.array([1,3.5])

numero

array([1. , 3.5])

In [ ]:
numero + 3

array([4. , 6.5])

# **Abstract Class, Abstract Method, Classe Abstrata.**

In [ ]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
  
  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
ContaInvestimento(15)

TypeError: ignored

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 17 Saldo 1007.0<<]
[>>Codigo 16 Saldo 998<<]

#**Igualdade e o eq (EQUALS)**

In [ ]:
class ContaSalario():
  def __init__(self,codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [ ]:
Conta1 = ContaSalario(37)
print(Conta1)

[>> Codigo 37 Saldo 0 <<]

In [ ]:
Conta2 = ContaSalario(37)
print(Conta2)

[>> Codigo 37 Saldo 0 <<]

In [ ]:
Conta1 == Conta2

False

In [ ]:
contas = [Conta1]
Conta1 in contas

True

In [ ]:
Conta2 in contas

False

In [ ]:
class ContaSalario():
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def __eq__(self, outro):
    return self._codigo == outro._codigo

    
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Codigo {} Saldo {} <<]".format(self.codigo, self.saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [ ]:
conta1 != conta2

False

In [ ]:
conta1 in [conta2]

True

In [ ]:
conta2 in [conta1]

True

In [ ]:
class ContaSalario():

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Codigo {} Saldo {} <<".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [ ]:
conta1.deposita(10)
print(conta1)

[>> Codigo 37 Saldo 20 <<

In [ ]:
conta1 == conta2

False

In [ ]:
class ContaSalario():

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Codigo {} Saldo {} <<".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [ ]:
conta1 == conta2

False

In [ ]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [ ]:
isinstance(ContaCorrente(34), Conta)

True

# **Outros Builtins, Range, Enumerated, Desempacotar tuplas.**

In [ ]:
idades = [15, 87, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 65
3 56
4 32
5 49
6 37

In [ ]:
range(len(idades)) #Lazy

range(0, 7)

In [ ]:
enumerate(idades) #Lazy

In [ ]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 65), (3, 56), (4, 32), (5, 49), (6, 37)]

In [ ]:
for valor in enumerate(idades):     #Lazy
  print(valor)

(0, 15)
(1, 87)
(2, 65)
(3, 56)
(4, 32)
(5, 49)
(6, 37)

In [ ]:
for indice, idade in enumerate(idades):
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 65
3 x 56
4 x 32
5 x 49
6 x 37

In [ ]:
usuarios = [
           ("Jefferson", 26, 1995),
           ("Power", 25, 1996),
           ("Guido", 24, 1997)
]

for usuario in usuarios:
  print(usuario)

('Jefferson', 26, 1995)
('Power', 25, 1996)
('Guido', 24, 1997)

In [ ]:
usuarios = [
           ("Jefferson", 26, 1995),
           ("Power", 25, 1996),
           ("Guido", 24, 1997)
]

for nome, idade, nascimento in usuarios:
  print(nome)

Jefferson
Power
Guido

In [ ]:
usuarios = [
           ("Jefferson", 26, 1995),
           ("Power", 25, 1996),
           ("Guido", 24, 1997)
]

for nome, _, _ in usuarios:
  print(nome)

Jefferson
Power
Guido

# **Ordem Natural**

In [ ]:
idades = [42,33,51,12,49,20,32,16]

In [ ]:
sorted(idades)

[12, 16, 20, 32, 33, 42, 49, 51]

In [ ]:
list(reversed(sorted(idades)))

[51, 49, 42, 33, 32, 20, 16, 12]

In [ ]:
sorted(idades, reverse=True)

[51, 49, 42, 33, 32, 20, 16, 12]

In [ ]:
idades

[42, 33, 51, 12, 49, 20, 32, 16]

In [ ]:
idades.sort()

In [ ]:
idades

[12, 16, 20, 32, 33, 42, 49, 51]

In [ ]:
nomes = ["Jefferson","Carla","Paulo","guilherme"]

In [ ]:
sorted(nomes)

['Carla', 'Jefferson', 'Paulo', 'guilherme']

In [ ]:
class ContaSalario():

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Codigo {} Saldo {} <<".format(self._codigo, self._saldo)

In [ ]:
conta_do_jeh = ContaSalario(10)
conta_do_jeh.deposita(500)

conta_da_carla = ContaSalario(222)
conta_da_carla.deposita(1000)

conta_do_paulo = ContaSalario(333)
conta_do_paulo.deposita(510)

In [ ]:
contas = [conta_do_jeh, conta_da_carla, conta_do_paulo]

In [ ]:
for conta in contas:
  print(conta)

[>> Codigo 10 Saldo 500 <<
[>> Codigo 222 Saldo 1000 <<
[>> Codigo 333 Saldo 510 <<

In [ ]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>> Codigo 10 Saldo 500 <<
[>> Codigo 333 Saldo 510 <<
[>> Codigo 222 Saldo 1000 <<

In [ ]:
from operator import attrgetter

In [ ]:
for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>> Codigo 10 Saldo 500 <<
[>> Codigo 333 Saldo 510 <<
[>> Codigo 222 Saldo 1000 <<

In [ ]:
class ContaSalario():

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Codigo {} Saldo {} <<".format(self._codigo, self._saldo)

In [ ]:
conta_do_jeh = ContaSalario(10)
conta_do_jeh.deposita(500)

conta_da_carla = ContaSalario(222)
conta_da_carla.deposita(1000)

conta_do_paulo = ContaSalario(333)
conta_do_paulo.deposita(510)

In [ ]:
contas = [conta_do_jeh, conta_da_carla, conta_do_paulo]

In [ ]:
for conta in sorted(contas):
  print(conta)

[>> Codigo 10 Saldo 500 <<
[>> Codigo 333 Saldo 510 <<
[>> Codigo 222 Saldo 1000 <<

In [ ]:
conta_do_jeh < conta_da_carla

True

In [ ]:
conta_do_jeh > conta_da_carla

False

In [ ]:
for conta in sorted(contas, reverse=True):
  print(conta)

[>> Codigo 222 Saldo 1000 <<
[>> Codigo 333 Saldo 510 <<
[>> Codigo 10 Saldo 500 <<

# **Ordenação Total**

In [ ]:
class ContaSalario():

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Codigo {} Saldo {} <<".format(self._codigo, self._saldo)

In [ ]:
conta_do_jeh = ContaSalario(10)
conta_do_jeh.deposita(500)

conta_da_carla = ContaSalario(222)
conta_da_carla.deposita(1000)

conta_do_paulo = ContaSalario(333)
conta_do_paulo.deposita(500)

In [ ]:
contas = [conta_do_jeh, conta_da_carla, conta_do_paulo]

In [ ]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>> Codigo 10 Saldo 500 <<
[>> Codigo 333 Saldo 500 <<
[>> Codigo 222 Saldo 1000 <<

In [ ]:
class ContaSalario():

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Codigo {} Saldo {} <<".format(self._codigo, self._saldo)

In [ ]:
conta_do_jeh = ContaSalario(10)
conta_do_jeh.deposita(500)

conta_da_carla = ContaSalario(222)
conta_da_carla.deposita(1000)

conta_do_paulo = ContaSalario(333)
conta_do_paulo.deposita(500)
contas = [conta_do_jeh, conta_da_carla, conta_do_paulo]

In [ ]:
for conta in sorted(contas):
  print(conta)

[>> Codigo 10 Saldo 500 <<
[>> Codigo 333 Saldo 500 <<
[>> Codigo 222 Saldo 1000 <<

In [ ]:
from functools import total_ordering

@total_ordering
class ContaSalario():

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
      
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor
  
  def __str__(self):
    return "[>> Codigo {} Saldo {} <<".format(self._codigo, self._saldo)

In [ ]:
conta_do_jeh = ContaSalario(10)
conta_do_jeh.deposita(500)

conta_da_carla = ContaSalario(222)
conta_da_carla.deposita(1000)

conta_do_paulo = ContaSalario(333)
conta_do_paulo.deposita(500)
contas = [conta_do_jeh, conta_da_carla, conta_do_paulo]

In [ ]:
conta_da_carla <= conta_do_jeh

False

In [ ]:
conta_do_jeh == conta_do_jeh

True

In [ ]:
conta_da_carla >= conta_do_paulo

True